@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "RobotoMono";
  src: url("fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoMono";
  src: url("fonts/RobotoMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "RobotoMono";
  src: url("fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "RobotoMono";
  src: url("fonts/RobotoMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "RobotoMono";
  src: url("fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "RobotoMono";
  src: url("fonts/RobotoMono-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  cursor: none;
}
body {
  background: #333333;
  color: #d2d2d2;
  margin: 0;
  padding: 0;
  font-weight: lighter;
}
.main-canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  font-family: 'Roboto', sans-serif;
}
.hide {
  display: none;
}
.title-wrapper {
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 0;
  pointer-events: none;
}
.title-wrapper span {
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0.25rem 1rem;
}
.title-wrapper .title-input {
  background: #22222288;
  color: #d2d2d2;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 0.25rem 1rem;
  min-width: 2rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  transition: width 150ms;
  pointer-events: auto;
}
.toolbar {
  position: fixed;
  height: 100vh;
  border-radius: 0.5rem;
  right: 0;
  top: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.toolbar .tool-btn {
  pointer-events: auto;
  position: relative;
  margin: 0.25rem 0;
  width: 2.5rem;
  height: 2.5rem;
  background: #22222288;
  border-radius: 0.5rem;
  transition: background-color 200ms;
}
.zoom-slider {
  position: fixed;
  top: calc(calc(100% - 2.5rem * 6) / 2 * 0.2);
  right: 0.625rem;
  width: 2.25rem;
  height: calc((100% - 2.5rem * 6) / 2 * 0.65);
  background: #22222288;
  border-radius: 0.5rem;
}
.dialog-overlay {
  background: #33333333;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.dialog-overlay .dialog {
  pointer-events: auto;
  background: #fff;
  border: 1px solid #888888;
  border-radius: 3px;
  max-width: 50vw;
  padding: 0.5rem 0.5rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.dialog-overlay .dialog .dialog-title {
  font-size: 1.3rem;
  font-weight: normal;
  color: #333;
  padding: 0 0.5rem;
}
.dialog-overlay .dialog .dialog-msg {
  color: #333;
  padding: 0 0.5rem;
}
.dialog-overlay .dialog .button-wrap {
  display: flex;
  justify-content: space-between;
}
.dialog-overlay .dialog .button-wrap button {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  margin: 0.5rem 0.5rem;
}
.dialog-overlay .dialog .button-wrap button[id="dialog-cancel"] {
  background: #c25252;
  color: #fff;
}
.dialog-overlay .dialog .button-wrap button[id="dialog-confirm"] {
  background: #89ba2e;
  color: #fff;
}
canvas.fs-panel {
  width: 20rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #222;
  transition: all 200ms;
  transform: translateX(-17.5rem);
}
/* CURSORS */
.cursor {
  pointer-events: none;
  background-color: #000;
  width: var(--width);
  height: var(--height);
  position: fixed;
  top: var(--top);
  left: var(--left);
  --left: -0.5rem;
  --top: -0.5rem;
  --width: 1.25rem;
  --height: 1.25rem;
  --radius: 2rem;
  --opacity: 0.2;
  --transform: translate(-50%, -50%);
  opacity: var(--opacity);
  border-radius: var(--radius);
  border: 1px solid #ffffff33;
  transform: var(--transform);
  transition-timing-function: ease-in-out;
  transition-property: width, height, opacity;
  transition-duration: 150ms;
}
/*# sourceMappingURL=index.css.map */